<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="ParkkTech_FastMagento" setup_version="1.0.0">
    <sequence>
        <!-- Ensure our module loads after Magento's search-related modules -->
        <module name="Magento_CatalogSearch"/>
        <module name="Magento_Elasticsearch"/>
        <module name="Magento_OpenSearch"/>
        <module name="Magento_AdvancedSearch"/>
        <module name="Magento_Search"/>
        <module name="Magento_Catalog"/>
        <!-- Optional Commerce ordering: absent modules are ignored by Magento's loader. -->
        <module name="Magento_CatalogStaging"/>
        <module name="Magento_Staging"/>
        <!-- Ensure we override third-party search modules like Amasty, Mageworx, Mirasvit -->
        <module name="Amasty_Xsearch"/>
        <module name="Mirasvit_Search"/>
        <module name="Mageworx_Search"/>
        <module name="Algolia_AlgoliaSearch"/>
    </sequence>
    </module>
</config>
