<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Model\ResourceModel\Product\Link\Product\Collection">
        <plugin name="fastmagento_link_product_collection"
                type="ParkkTech\FastMagento\Plugin\LinkProductCollectionPlugin"
                sortOrder="10"/>
    </type>
    <type name="Magento\Catalog\Model\Product">
        <plugin name="frontend_product_plugin"
                type="ParkkTech\FastMagento\Plugin\FrontendProductPlugin"
                sortOrder="10"/>
    </type>
    <preference for="Magento\Catalog\Pricing\Price\TierPrice"
                type="ParkkTech\FastMagento\Pricing\Price\TierPrice" />
    <preference for="Magento\CatalogRule\Pricing\Price\CatalogRulePrice"
                type="ParkkTech\FastMagento\Pricing\Price\CatalogRulePrice" />
    <preference for="Magento\Catalog\Pricing\Price\SpecialPrice"
                type="ParkkTech\FastMagento\Pricing\Price\SpecialPrice" />
    <type name="Magento\Review\Model\ReviewSummary">
        <plugin name="fastmagento_review_summary"
                type="ParkkTech\FastMagento\Plugin\Review\ReviewSummaryPlugin"/>
    </type>
    <type name="Magento\ConfigurableProduct\Block\Product\View\Type\Configurable">
        <plugin name="fastmagento_inline_configurable_images"
                type="ParkkTech\FastMagento\Plugin\ConfigurableImagesPlugin" sortOrder="100"/>
    </type>
    <type name="Magento\ConfigurableProduct\Model\ConfigurableMaxPriceCalculator">
        <plugin name="fastmagento_configurable_max_price"
                type="ParkkTech\FastMagento\Plugin\ConfigurableMaxPriceCalculatorPlugin"/>
    </type>
    <type name="Magento\ConfigurableProduct\Pricing\Price\LowestPriceOptionsProvider">
        <plugin name="fastmagento_lowest_price_options"
                type="ParkkTech\FastMagento\Plugin\LowestPriceOptionsProviderPlugin"
                sortOrder="10"/>
    </type>
    <preference for="Magento\ConfigurableProduct\Model\ResourceModel\Product\Type\Configurable"
                type="ParkkTech\FastMagento\Model\Configurable\ConfigurableProductType" />
    <type name="ParkkTech\FastMagento\Model\Configurable\ConfigurableProductType">
        <arguments>
            <argument name="parentIdResolver" xsi:type="object">ParkkTech\FastMagento\Model\OpenSearch\ParentIdResolver\Proxy</argument>
        </arguments>
    </type>
    <type name="Magento\GroupedProduct\Model\Product\Type\Grouped">
        <plugin name="fastmagento_grouped_parent_ids"
                type="ParkkTech\FastMagento\Plugin\GroupedParentIdPlugin"
                sortOrder="10"/>
    </type>
    <type name="Magento\UrlRewrite\Model\UrlFinderInterface">
        <plugin name="fastmagento_category_url_finder"
                type="ParkkTech\FastMagento\Plugin\CategoryUrlFinderPlugin"
                sortOrder="10"/>
    </type>
    <type name="Magento\Catalog\Model\Layer\Filter\DataProvider\Category">
        <plugin name="fastmagento_layer_category_data_provider"
                type="ParkkTech\FastMagento\Plugin\LayerCategoryDataProviderPlugin"
                sortOrder="10"/>
    </type>
    <type name="Magento\Catalog\Model\Category">
        <plugin name="fastmagento_category_children"
                type="ParkkTech\FastMagento\Plugin\CategoryChildrenPlugin"
                sortOrder="10"/>
    </type>
    <type name="Magento\Catalog\Model\ResourceModel\Category\Collection">
        <plugin name="fastmagento_category_attribute_load"
                type="ParkkTech\FastMagento\Plugin\CategoryAttributeLoadPlugin"
                sortOrder="10"/>
    </type>
    <type name="Magento\Sales\Model\ResourceModel\Report\Bestsellers\Collection">
        <plugin name="fastmagento_bestsellers_frontend_filter"
                type="ParkkTech\FastMagento\Plugin\BestsellersFrontendFilterPlugin"
                sortOrder="10"/>
    </type>
    <preference for="Magento\ConfigurableProduct\Model\Product\Type\Configurable"
                type="ParkkTech\FastMagento\Model\Product\Type\Configurable" />
    <type name="Magento\ConfigurableProduct\Model\Product\Type\Configurable">
        <plugin name="used_products_cache" disabled="true"/>
    </type>
  <preference for="Magento\CatalogInventory\Api\StockRegistryInterface"
                type="ParkkTech\FastMagento\Model\OpenSearchStockRegistry" />
    <type name="Magento\CatalogInventory\Api\StockRegistryInterface">
        <plugin name="fastmagento_composite_parent_stock_status"
                type="ParkkTech\FastMagento\Plugin\Inventory\CompositeParentStockStatusPlugin"
                sortOrder="100"/>
    </type>
    <type name="Magento\Catalog\Model\Product">
        <plugin name="shell_product_override"
                type="ParkkTech\FastMagento\Plugin\ShellProductPlugin"
                sortOrder="10" disabled="true"/>
    </type>
    <type name="Magento\Catalog\Api\ProductRepositoryInterface">
        <plugin name="shell_product_override" type="ParkkTech\FastMagento\Plugin\ProductRepositoryPlugin" sortOrder="10" disabled="false"/>
    </type>
    <preference for="Magento\ConfigurableProduct\Model\ResourceModel\Product\Type\Configurable\Attribute\Collection"
                type="ParkkTech\FastMagento\Model\ResourceModel\Product\Type\Configurable\Attribute\Collection"/>
    <type name="Magento\Catalog\Model\Product">
        <plugin name="catalogInventoryAfterLoad" disabled="true"/>
    </type>
    <type name="Magento\Checkout\Model\Cart">
        <plugin name="fastmagento_set_custom_price" type="ParkkTech\FastMagento\Plugin\Checkout\AddProductPlugin" />
    </type>
    <type name="Magento\Quote\Model\Quote\Item">
        <plugin name="inject_price_on_get_product" type="ParkkTech\FastMagento\Plugin\Quote\QuoteItemPlugin" />
        <plugin name="fastmagento_configurable_line_name" type="ParkkTech\FastMagento\Plugin\Quote\ConfigurableLineNamePlugin" />
    </type>
    <type name="Magento\Eav\Model\Entity\Attribute\Source\Table">
        <plugin name="fastmagento_option_dictionary"
                type="ParkkTech\FastMagento\Plugin\Eav\SourceOptionPlugin" sortOrder="10"/>
    </type>
    <virtualType name="Magento\CatalogSearch\Model\ResourceModel\Fulltext\SearchCollection"
                 type="ParkkTech\FastMagento\Model\ResourceModel\Fulltext\Collection"/>
    <type name="Magento\Bundle\Model\ResourceModel\Selection">
        <plugin name="fastmagento_bundle_selection_parent_ids"
                type="ParkkTech\FastMagento\Plugin\Bundle\SelectionParentIdsPlugin"
                sortOrder="10"/>
    </type>
    <type name="Magento\Catalog\Pricing\Price\SpecialPriceBulkResolverInterface">
        <plugin name="fastmagento_special_price_bulk"
                type="ParkkTech\FastMagento\Plugin\SpecialPriceBulkResolverPlugin"
                sortOrder="10"/>
    </type>
    <type name="Magento\Review\Block\Product\Review">
        <plugin name="fastmagento_review_collection_size"
                type="ParkkTech\FastMagento\Plugin\Review\ReviewCollectionSizePlugin" sortOrder="10"/>
    </type>
    <type name="Magento\Review\Model\ResourceModel\Review\Collection">
        <plugin name="fastmagento_review_list_from_index"
                type="ParkkTech\FastMagento\Plugin\Review\ReviewListFromIndexPlugin" sortOrder="10"/>
    </type>
    <type name="Magento\Review\Block\Form">
        <plugin name="fastmagento_ratings_cache"
                type="ParkkTech\FastMagento\Plugin\Review\RatingsCachePlugin" sortOrder="10"/>
    </type>
    <type name="Magento\Msrp\Model\Msrp">
        <plugin name="fastmagento_msrp_can_apply"
                type="ParkkTech\FastMagento\Plugin\Msrp\CanApplyToProductPlugin" sortOrder="10"/>
    </type>
    <type name="Magento\Captcha\Model\ResourceModel\Log">
        <plugin name="fastmagento_captcha_attempts_memo"
                type="ParkkTech\FastMagento\Plugin\Captcha\RemoteAttemptsMemoPlugin" sortOrder="10"/>
    </type>
    <type name="Magento\Catalog\Model\Product">
        <plugin name="fastmagento_can_be_show_in_category"
                type="ParkkTech\FastMagento\Plugin\CanBeShowInCategoryPlugin" sortOrder="10"/>
    </type>
    <type name="Magento\Eav\Model\ResourceModel\ReadHandler">
        <plugin name="fastmagento_category_read_handler"
                type="ParkkTech\FastMagento\Plugin\Eav\CategoryReadHandlerPlugin" sortOrder="10"/>
    </type>
    <type name="Magento\ConfigurableProduct\Model\ConfigurableAttributeData">
        <plugin name="parkktech_fastmagento_configurable_default_values"
                type="ParkkTech\FastMagento\Plugin\ConfigurableDefaultValuesPlugin"
                sortOrder="100"/>
    </type>
    <type name="Magento\Catalog\Model\CategoryRepository">
        <plugin name="fastmagento_category_repository_from_index"
                type="ParkkTech\FastMagento\Plugin\CategoryRepositoryFromIndexPlugin" sortOrder="5"/>
    </type>
    <type name="Magento\Catalog\Model\Category">
        <plugin name="fastmagento_category_parents_from_index"
                type="ParkkTech\FastMagento\Plugin\CategoryParentsFromIndexPlugin" sortOrder="5"/>
    </type>
    <type name="Magento\Catalog\Model\Layer\Category\FilterableAttributeList">
        <plugin name="fastmagento_filterable_attributes_cache"
                type="ParkkTech\FastMagento\Plugin\Layer\FilterableAttributeListCachePlugin" sortOrder="10"/>
    </type>
    <type name="Magento\Swatches\Helper\Data">
        <plugin name="fastmagento_swatches_from_index"
                type="ParkkTech\FastMagento\Plugin\Swatches\SwatchesFromIndexPlugin" sortOrder="10"/>
    </type>
    <type name="Magento\Catalog\Model\ResourceModel\Product\Collection">
        <plugin name="fastmagento_widget_collection_from_index"
                type="ParkkTech\FastMagento\Plugin\WidgetProductCollectionPlugin" sortOrder="20"/>
    </type>
    <!-- Intercept entity hydration before any SQL load, on the actual third-party subclass. -->
    <type name="Magento\CatalogSearch\Model\ResourceModel\Fulltext\Collection">
        <plugin name="fastmagento_collection_entity_hydration" type="ParkkTech\FastMagento\Plugin\CollectionEntityHydration" sortOrder="5"/>
    </type>
</config>
